.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 10;
}

.modal-shadow {
    position: absolute;
    top: 6.5em;
    left: 6.5em;
    bottom: 5.5em;
    right: 5.5em;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0.5em;
    z-index: 11;
}

.modal {
    position: absolute;
    top: 6em;
    left: 6em;
    bottom: 6em;
    right: 6em;
    background-color: #B0B0FF;
    background-image: linear-gradient(to bottom right, #B0B0FF, #C8C8FF);
    padding: 1em;
    border-radius: 0.5em;
    z-index: 12;
}

.modal-button-close {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    z-index: 11;
}
